.background{
    background-image: url(login2.png);
    width: 100%;
    height: 100%;
    align-content: center;
}
.maincon{
    background-color: white;
    display: flex;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    height: 420px;
    margin: auto;
}
.logoImg{
    width: 100px;
    height: 60px;
}
.logo{
    margin: 20px;
    display: flex;
}
p{
    font-size: 30px;
    margin:8px 0 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    background-color: aqua;
    width: 45%;
    background-image: url(scan2.jpg);
    background-size: cover;
    border-radius: 20px 0 0 20px;
}
.image{
    background-color: aqua;
    width: 45%;
    background-image: url(scan2.jpg);
    background-size: cover;
    border-radius: 20px 0 0 20px;
}
.mb-5{
    padding-left: 80px;
}
.mb-2{
    padding-left: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
}
@media only screen and (max-width: 900px){
    .image{
        display: none;
    }
    .mb-5{
        padding-left: 28px;
    }
}